@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    background-image: url('/src/assets/decor.png');
    background-size: 7vw 24vh;
    overflow-y: auto;
}

@font-face {
    font-family: excali;
    src: url('/src/assets/Excalifont-Regular.woff2');
}

@theme {
    --font-sans: "excali", "sans-serif";
    --shadow-3xl: 0 0 35px rgba(0, 0, 0, 0.4); 
}